.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
}

textarea {
  width: 300px;
  height: 300px;
}

.emojicontainer{

  background-color: #2ecc71;
  width: 500px;
  height: 300px;
  overflow:scroll;
}

.emojilist{
display:inline;

}

 